ion-content {
    background: linear-gradient(to bottom, #4db8ff, #1a75ff);
    color: rgb(255, 253, 253);
    padding: 20px;
  
    h1 {
      background-color: (20, 44, 180, 0.74) ;
      margin-bottom: 20px;
      font-size: 2rem;
      text-align: center;
    }
  
    ion-item {
      background: rgba(20, 44, 180, 0.74);
      border-radius: 10px;
      margin-bottom: 15px;
      padding: 10px;
  
      ion-label {
        font-weight: bold;
        color: #1569bd;
        padding: left 3px;
        white-space: nowrap;
      }
  
      ion-input {
        color: #000;
      }
    }
  
    ion-button {
      --background: #0079c2;
      color: #000;
      font-weight: 600;
      width: 100%;
      border-radius: 5px;
    }
  }